{% extends 'base.html.twig' %}

{% block title %}New Meta{% endblock %}

{% block body %}
    <h1>Create new Meta</h1>

    {{ include('meta/_form.html.twig') }}

    <a href="{{ path('meta_index') }}">back to list</a>
{% endblock %}
