<!-- Header Mobile -->
<div class="wrap-header-mobile">
    <!-- Logo moblie -->
    <div class="logo-mobile">
        <a href="index.html"><img src="#" alt="IMG-LOGO"></a>
    </div>

    <!-- Button show menu -->
    <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </div>
</div>
<!-- Menu Mobile -->
<div class="menu-mobile">
    <ul class="topbar-mobile">
        <li class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								北海
							</span>

							<img class="m-b-1 m-rl-8" src="#" alt="IMG">

							<span>
								气温 58° LO 56°
							</span>
						</span>
        </li>

        <li class="left-topbar">
            <a href="#" class="left-topbar-item">
                关于我们
            </a>

            <a href="#" class="left-topbar-item">
                联络我们
            </a>

            <a href="#" class="left-topbar-item">
                注册
            </a>

            <a href="#" class="left-topbar-item">
                登录
            </a>
        </li>

    </ul>

    <ul class="main-menu-m">
{% for menu in menues %}
        <li>
            <a href="{{ menu.link }}">{{ menu.name }}</a>
            {% if menu.submenu %}
                {{ include("default/sub-menu.html.twig",{}) }}
            {% endif %}
        </li>
{% endfor %}

    </ul>
</div>

<!--  -->